#newsletterForm {
    background-color: #fff087;
    border: 1px solid #fff087;
    border-radius:5px;
    padding:20px;
    margin: 20px 0;
}
form .glyphicon {
    background-color: #fff087;
    border-radius:50%;
    color: black !important;
    font-size: 30px;
    padding:20px;
    margin-top: -55px;
}
#newsletterForm h3 {
    color: #cccccc !important;
    margin-top:-5px;
}
#newsletterForm input {
    border-radius: 4px !important;
}
#newsletterForm input::-webkit-input-placeholder {
    color: #ccc !important;
    font-size:18px !important;
}
#newsletterForm input[type="text"],
#newsletterForm input[type="email"] {
    margin-bottom:10px;
    margin-top: 20px;
    padding:20px;
}
#newsletterForm button {
    border: none !important;
    border-radius: 0px !important;
    width: 100%;
}
.btn-unsubscribe {
    background-color: #5AC3DC !important;
    color: white;
}
.btn-unsubscribe:hover {
    color: white;
}
